#!/bin/bash

# To approve current folder with direnv run: `direnv allow`

# https://stackoverflow.com/questions/47879565/docker-compose-env-vs-direnv-envrc
# set -a makes everything export by default, set +a turns this off afterwards.
set -a

CONTEXT=""
[[ -f ".envrc.context" ]] && CONTEXT=$(< .envrc.context)
watch_file ".envrc.context"

if [[ -n "$CONTEXT" ]]; then
  CONTEXT_FILE="./.envs/.env.$CONTEXT"
  if [[ -f "$CONTEXT_FILE" ]]; then
   echo "CONTEXT CHANGED: $CONTEXT"
   source_env "$CONTEXT_FILE"
  else
    echo "FILE: $CONTEXT_FILE missing"
  fi
fi

set +a