{% extends "reviews/base.html" %}

{% block title %}Your Review{% endblock title %}Your Review


{% block content %}
  {% comment %} Let's change the method to POST {% endcomment %}
  {% comment %} You can change the url for sendig the request with e.g  action="/user-review"  
  default is empty or action="/" {% endcomment %}
  <form action="/feedback/" method="POST">
    {% csrf_token %}
    {% if has_error %}
    <p>This form is invalid, please enter a valid name</p>
    {% endif %}
    <label for="username">Your name</label>
    <input id="username" name="username" type="text">
    {% comment %} 
    Default button is type="submit" so you can omit it, but if we change it to e.g. type="button"
    Then nothing is submited and page is not reload. 
    Submit by default will be a GET request
     {% endcomment %}
    <button>Send</button> 
  </form>
{% endblock content %}